<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<%- include("partials/head")%>
	</head>
	<body>
		<%- include("partials/navigation")%>
		<main
			class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center"
		>
			<section>
				<h1 class="display-1">About</h1>
				<p>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae
					iste consectetur deleniti iusto fugit, impedit saepe doloremque rem
					modi, magni quis dicta, qui voluptates ut enim aut at itaque.
					Repellendus alias aut quibusdam commodi minus saepe vitae ab deserunt
					nesciunt hic omnis optio quam expedita sunt provident eveniet,
					pariatur cupiditate laudantium aliquid quos minima. Soluta sapiente
					dolorum magni suscipit debitis ratione earum? Nisi enim cupiditate sed
					error officiis architecto dolore nulla quidem ducimus quo illo soluta
					ipsa, similique molestias ut, quod distinctio obcaecati sit iste,
					sapiente adipisci possimus deserunt suscipit? Nulla dicta non, dolor
					facilis quia id, mollitia corrupti debitis quibusdam sunt saepe
					aspernatur? Assumenda aliquam tenetur laborum, omnis dignissimos vel
					sapiente! Porro officiis molestiae quidem minus doloribus dicta harum
					ab atque, dolorum magni fugit ad corporis nulla voluptatum magnam
					dolor labore dignissimos natus quasi, eaque officia libero? Tenetur
					eaque nostrum nam atque ipsum harum exercitationem ut eveniet nesciunt
					qui tempore quis nihil et inventore animi unde, repellendus assumenda,
					facilis blanditiis dolore suscipit aliquam provident? Id aspernatur
					repudiandae in voluptatibus soluta nam beatae repellendus fugiat
					facere, culpa, ea debitis tempore nobis natus fuga blanditiis, laborum
					iusto itaque. Libero impedit excepturi ducimus doloremque, eligendi
					accusamus amet esse asperiores voluptatem unde expedita.
				</p>
			</section>
		</main>
		<%- include("partials/footer")%>
	</body>
</html>
